<!DOCTYPE html>
<html ng-app="requestBuilder">
<head>
	<meta charset="utf-8" />
	<meta name="google" value="notranslate" />
	<title>{title} // restis</title>
	<link rel="shortcut icon" href="/client/favicon.png" />

	<script src="/client/js/jquery-1.11.2.min.js"></script>
	<script src="/client/js/plugin.selectbox/js/bootstrap-select.min.js"></script>
	<script src="/client/js/bootstrap.min.js"></script>
	<script src="/client/js/angular.min.js"></script>
	<script src="/client/js/bootstrap-toggle.min.js"></script>
	
	<link href="/client/css/bootstrap-toggle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/client/js/plugin.selectbox/css/bootstrap-select.css" />
	<link rel="stylesheet" href="/client/css/global.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="heading">
		<div class="window"><h1>REST Inspection System <span>&rsaquo; Control Panel</span></h1>
		</div>
	</div>
	<div class="full">
	<div class="window">
	<div class="container">
		<ul class="nav nav-tabs">
		{tabs}
		</ul>
		<div class="tab request-builder" ng-controller="requestNameController" >
		{content}
		</div>
		<hr class="final" />
		<div class="bottom-nav">Project "<b>restis</b>", build {build}. <a href="https://github.com/brucefoster/restis">Project on GitHub</a> / <a href="https://github.com/brucefoster/restis">Report an Issue</a> / <a href="https://github.com/brucefoster/restis">Project Wiki</a></div>
	</div>
	</div>
	</div>
</body>
</html>