
		<div class="tab request-builder" ng-controller="requestNameController" >
		<h3 class="title empty" ng-show="!requestRenameMarker">{{requestName + ' '}}<span ng-click="changeReqName( $event )">[click to change]</span></h3>
		<form ng-submit="updateName( $event )">
			<input type="text" ng-name="requestName" ng-blur="updateName( $event )" ng-show="requestRenameMarker" class="title requestTitle empty" placeholder="Untitled Request" />
			<input type="submit" style="visibility: hidden" />
		</form>

		<div class="label">URL of REST API provider:</div>
		<label class="checkbox" style="float: right;vertical-align: top;margin: 0;margin-top: -2px;padding: 0px;font-weight: normal;">
					<input type="checkbox" class="showrequestheaders"> Follow redirections
				</label>
		<br />
		<select name="method" class="selectpicker_method" data-width="auto">
			<option value="GET" selected>GET Request</option>
			<option value="POST" >POST Request</option>
			<option value="d" >DELETE Request</option>
			<option value="pu" >PUT Request</option>
		</select>
		<input type="text" class="form-control desturl" ng-model="test" style="display: inline-block;width: 770px;" data-toggle="tooltip" title="Enter destination URL first." placeholder="http://" />
		<div class="space"></div>
		<div class="area">
		<h4 style="font-weight: bold;padding: 0px 0 0 0;margin: 0;">Parameters to send</h4>
		<div class="checkbox inline">
			<label class="raw_show_label">
				<input type="checkbox" class="raw_show"> Input RAW data manually instead of dataset
			</label>
		</div>
		<div class="raw csshidden">
			<textarea class="form-control raw_data" placeholder="param1=value1&amp;param2=value2 etc."></textarea>
			<div class="space-small"></div>
			<button type="button" class="btn btn-default converttoparams">Convert to params</button>
		</div>
		<div class="dataset">
			<table class="params" style="width: 100%;margin-top: -20px;">
				<tr>
					<td style="width: 35%;"></td>
					<td style="width: 60%;"></td>
					<td style="width: 5%;"></td>
				</tr>
				<tr>
					<td><input type="text" class="form-control" placeholder="parameter" /></td>
					<td><input type="text" class="form-control" placeholder="value" /></td>
					<td><button type="button" class="btn btn-danger" onclick="deleteParam(this)">Delete</button></td>
				</tr>
			</table>
			<div class="space-small"></div>
			<p>
			<button type="button" class="btn btn-default addparam">Add new parameter</button> - or - 
			<button type="button" class="btn btn-default converttoraw">Convert to RAW</button>
			</p>
		</div>
		</div>

		<div class="area">
		<h4 style="font-weight: bold;padding: 0px 0 0 0;margin: 0;"><input type="checkbox" class="add_auth" data-toggle="toggle"> HTTP Basic authentication</h4>
		<script type="text/javascript">
		$(function() {
			$( '.add_auth' ).change(function() {
				if( $( this ).prop( 'checked' ) == true ) {
					$( '.httpauth' ).slideDown( 200 );
				} else {
					$( '.httpauth' ).slideUp( 150 );
				}
			});
		});
		</script>
		<form class="httpauth">
		  <div class="form-group ">
			<label>Username: </label>
			<input type="text" class="form-control css_free longinput httpauth_user" placeholder="HTTP Basic auth login">
		  </div>
		  <div class="form-group">
			<label>Password: </label>
			<input type="text" class="form-control css_free longinput httpauth_pass" placeholder="HTTP Basic auth password (visible)">
		  </div>
		</form>
		</div>
		<div class="area">
		<h4 style="font-weight: bold;padding: 0px 0 0 0;margin: 0;"><input type="checkbox" class="add_headers" data-toggle="toggle"> Custom Headers</h4>
		<script type="text/javascript">
		$( ".add_headers" ).bootstrapSwitch();</script>
		</div>
		<div class="space"></div>
		<button type="button" class="btn btn-primary btn-lg sendrequst" onclick="runRequest();" data-loading-text="Processing request..."><span class="glyphicon glyphicon-flash"></span> Send request</button> 
		<span class="glyphicon glyphicon-share-alt optionmark enabled" ng-mouseover="redirTooltip( $event )" data-toggle="tooltip" title="Redirections enabled"></span>
		<span class="glyphicon glyphicon-lock optionmark" ng-mouseover="redirTooltip( $event )" data-toggle="tooltip" title="Authentication disabled"></span>
		<div style="display: inline-block;"><div class="requestsent csshidden"><span class="glyphicon glyphicon-ok"></span> &nbsp;Done</div></div>
		<div class="alert alert-danger csshidden request_error_data" role="alert"></div>
		<div class="result_rows csshidden">	
		<div class="space"></div>
		<div class="panel panel-default infopanel csshidden">
		<div class="panel-body">
		</div></div>
			<div class="csshidden headers_request_result">
				<div class="label">Request headers:</div>
				<div class="space-small"></div>
				<pre></pre>
			</div>
			<div class="csshidden headers_response_result">
				<div class="space"></div>
				<div class="label">Response headers:</div>
				<div class="space-small"></div>
				<pre></pre>
			</div>
			<div class="csshidden sent_data">
				<div class="space"></div>
				<div class="label">Sent data (RAW):</div>
				<div class="space-small"></div>
				<pre></pre>
			</div>
			<div class="csshidden request_result" style="max-width: 879px;">
				<div class="space"></div>
				<div class="label">Response: &nbsp; &nbsp; 
				<span class="glyphicon glyphicon-time"></span>&nbsp; got in <span class="time"></span>s  
				&nbsp; &nbsp; <span class="glyphicon glyphicon-hdd"></span>&nbsp; status: <span class="state"></span> 
				</div>
				<div class="space-small"></div>
				<pre></pre>
			</div>

			<div class="space-small"></div>
			<button type="button" class="btn btn-default" onclick="WebPS_Page_BackToTop()"><span class="glyphicon glyphicon-arrow-up"> </span> &nbsp; Back to params</button> &nbsp; 
			<button type="button" class="btn btn-link addparam"><span class="glyphicon glyphicon-repeat"> </span> &nbsp; Repeat request</button> &nbsp; 
			<button type="button" class="btn btn-primary saverequest"><span class="glyphicon glyphicon-floppy-disk"> </span> &nbsp; Save request</button>
		</div>
	</div>
	
	<div class="modal fade saveRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Save request</h4>
		  </div>
		  <div class="modal-body">
			<form>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Name your request:</label>
				<input type="text" class="form-control" id="request-name">
			  </div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-primary" onclick="WebPS_SaveSystem_Save()">Save request</button>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade requestErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">Error was occurred</h4>
	  </div>
	  <div class="modal-body">
		...
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="runRequest();">Repeat request</button>
	  </div>
	  </div>
	  </div>
	  </div>
	
	<script type="text/javascript">
		var app = angular.module( 'requestBuilder', [] );
		app.controller( 'requestNameController', function( $scope ) {
			$scope.requestName = "Untitled Request";
			$scope.requestRenameMarker = false;

			$scope.changeReqName = function(clickEvent) {
				$scope.requestRenameMarker = true;
				setTimeout( function() { $( '.requestTitle' ).focus() }, 20 );
	  		}

			$scope.updateName = function(clickEvent) {
				if( $( '.requestTitle' ).val() ) {
					$scope.requestName = $( '.requestTitle' ).val();
					$scope.requestRenameMarker = false;
					$( 'h3.title' ).css( { color: '#337AB7' } );
				} else {
					$scope.requestName = "Still Untitled Request";
					$scope.requestRenameMarker = false;
				}
				return false;
	  		}

			$scope.redirTooltip = function( obj ) {
				$( obj.target ).tooltip('show');
				return false;
	  		}
		} );

		var newParam = '<tr>' + ( $( '.params tr:eq(1)' ).html() ) + '</tr>';

		$( '.params tr:eq(1)' ).remove();
		$( '.raw_show' ).click( function() {
			if( $( '.raw_show' ).is( ':checked' ) ) {
				$( '.raw' ).slideDown( 100 );
				$( '.dataset' ).slideUp( 100 );
			} else {
				$( '.dataset' ).slideDown( 100 );
				$( '.raw' ).slideUp( 100 );
			}
		});

		$( '.addparam' ).click( function() {
			$( '.params' ).append( newParam );
			//$( '.converttoparams' ).prop( 'disabled', true );
		} );


		$( '.saverequest' ).click( function() {
			$( '.saveRequest' ).modal( 'show' );
		} );


		$( '.converttoraw' ).click( function() {
			raw = '';
			valueTime = false;
			$.each( $( '.params tr td input' ), function( index, obj ) {
				value = ( $( obj ).val() );
				if( valueTime === false ) {
					raw += ( raw === '' ? '' : '&' ) + value;
					valueTime = true;
				} else {
					raw += '=' + value;
					valueTime = false;
				}
				$( '.raw_data' ).val( raw );
				$( '.raw_show' ).prop( 'checked', true );
				$( '.raw' ).slideDown( 100 );
				$( '.dataset' ).slideUp( 100 );
			} );
			$( '.raw_show_label' ).prop( 'disabled', true );
			$( '.raw_show' ).prop( 'disabled', true );
		} );

		$( '.converttoparams' ).click( function() {
			$( '.params tr:not(:eq(0))' ).remove();
			val = $( '.raw_data' ).val().toString();
			$.each( val.split( '&' ), function( index, obj ) {
				param = obj.toString().split( '=' )[ 0 ];
				val = obj.toString().split( '=' )[ 1 ];
				$( '.params' ).append( newParam.replace( 'ter"', 'ter" value="' + param + '"').replace( 'ue"', 'ue" value="' + val + '"') );
				
			} );
			$( '.raw_show_label' ).prop( 'disabled', true );
			$( '.raw_show' ).prop( 'disabled', true );
			$( '.raw_show' ).prop( 'checked', false );
				$( '.dataset' ).slideDown( 100 );
				$( '.raw' ).slideUp( 100 );
		} );

		function deleteParam( row ) {
			$( row ).parent().parent().remove();
		}

		function getPlainRAW() {
			raw = '';
			if( $( '.raw_show' ).is( ':checked' ) ) {
				raw = $( '.raw_data' ).val().toString();
			} else {
				valueTime = false;
				$.each( $( '.params tr td input' ), function( index, obj ) {
					value = ( $( obj ).val() );
					if( valueTime === false ) {
						raw += ( raw === '' ? '' : '&' ) + value;
						valueTime = true;
					} else {
						raw += '=' + value;
						valueTime = false;
					}
				} );
			}
			return raw;
		}

		function prepareParams() {
			var raw = getPlainRAW();
			var response = 
				'webps_rp=true&data=' + 
				raw.split('&').join('/$webps:s_and/').split('=').join('/$webps:s_eq/') + 
				'&url=' + $( '.desturl' ).val() +
				'&method=' + $( '.selectpicker_method' ).val();
			if( $( '.add_auth' ).prop( 'checked' ) == true ) {
				response += '&auth=' + $( '.httpauth_user' ).val() + '~$$' + $( '.httpauth_pass' ).val();
			}
			// alert( response );
			return response;
		}

		var responseWindowShown = false;
		function runRequest() {
			var $btn = $( '.sendrequst' ).button( 'loading' );
			if( $( '.desturl' ).val().length == 0 ) {
				$( '.desturl' ).tooltip('show');
				return false;
			}

			if( responseWindowShown ) {
				$( '.result_rows' ).fadeTo( 100, 0.2 );
			}

			$.post( "/send", prepareParams(), function( data ) {
				result = JSON.parse( data );

				/*
				======================
				Handling errors
				======================
				*/
				if( result[ 'error' ] ) { 
					$( '.requestErrorModal' ).modal( 'show' );
					$( '.requestErrorModal .modal-body' ).html( '' );
					$( '.requestErrorModal .modal-body' ).append( 'This is all the info we have for this error.<br /><hr />' );
					$( '.requestErrorModal .modal-body' ).append( '<div style="display: inline-block;width: 150px;line-height: 24px;font-weight: bold;">Error name:</div>' + '<code>' + result[ 'error' ] + '</code><br />' );
					$( '.requestErrorModal .modal-body' ).append( 
						'<div style="display: inline-block;width: 150px;line-height: 24px;font-weight: bold;vertical-align: top;">Error description:</div>' + 
						'<samp style="display: inline-block;width: 380px;vertical-align: top;padding-top: 3px;">' + result[ 'error_description' ] + 
						'</samp>' 
					);
					/*$( '.request_error_data' ).html( '<b>Error: </b>' + result[ 'error' ] );
					$( '.request_error_data' ).slideDown( 200 );
					$('html, body').animate({
						scrollTop: $( ".request_result" ).offset().top
					}, 620 );*/
					$btn.button( 'reset' );
					return;
				}
				$( '.requestsent' ).fadeIn( 60 );
				setTimeout( function(){ $( '.requestsent' ).fadeOut( 60 ); }, 1000 );

				response = result[ 'response_data' ];
				//response = JSON.stringify( JSON.parse( response ), null, 3 );

				$btn.button( 'reset' );

				$( '.result_rows' ).slideDown( 100 );

				$( '.headers_request_result pre' ).html( '' );
				for( header in result[ 'request_headers' ] ) {
					$( '.headers_request_result pre' ).append( 
						'<div style="font-weight: bold; width: 180px;display: inline-block;">' + 
						_formatHeader( header ) + ': </div>' + result[ 'request_headers' ][ header ] + '<br />' );
				}
				$( '.headers_request_result' ).slideDown( 100 );

				
				$( '.headers_response_result pre' ).html( '' );
				for( header in result[ 'response_headers' ] ) {
					$( '.headers_response_result pre' ).append( 
						'<div style="font-weight: bold; width: 180px;display: inline-block;">' + 
						_formatHeader( header ) + ': </div>' + result[ 'response_headers' ][ header ] + '<br />' );
				}
				$( '.infopanel .panel-body' ).html( '<code style="font-size: 18px;font-weight: bold;margin-right: 5px;">' + $( '.selectpicker_method' ).val() + '</code>' + ' <samp> ' + $( '.desturl' ).val() + '</samp>' );
				$( '.infopanel' ).slideDown( 100 );

				$( '.headers_response_result' ).slideDown( 100 );
				
				var HTTPCodes = {
					200: '<b style="color: green;">200 OK</b>',
					404: '<b style="color: orange;">404 Not Found</b>',
					500: '<b style="color: darkred;">500 Internal Server Error</b>',
					401: '<b style="color: red;">401 Not Authorized</b>',
				};
				$( '.sent_data pre' ).html( result[ 'request_data' ].split('=').join( '<span style="color: #66B246;padding: 0 2px 0 2px;">=</span>').split('&').join( '<span style="color: #2187B8;padding: 0 2px 0 2px;">&amp;</span>') );
				$( '.sent_data' ).slideDown( 100 );
				response = response.split( '<' ).join( '&lt;' ).split( '>' ).join( '&gt;' );
				$( '.request_result pre' ).html( response.length == 0 ? '<span style="color: red;"><b>WebPS</b>: empty response body</span>' : response );
				$( '.time' ).html( result[ 'execution_time' ] );
				$( '.state' ).html( HTTPCodes[ result[ 'http_status_code' ] ] );


				if( responseWindowShown === false ) {

					$( '.result_rows' ).fadeIn( 100 );
					$( '.request_result' ).slideDown( 100 );
					responseWindowShown = true;
				}
				else {
					$( '.result_rows' ).fadeTo( 100, 1 );
				}

				$('html, body').animate({
					scrollTop: $( ".request_result" ).offset().top
				}, 620 );
			} ).fail(function( jqXHR, textStatus, errorThrown ) {
				alert( textStatus );
			  });
		}

		function _formatHeader( headerName ) {
			var parts = headerName.split( '-' );
			var result = [];
			for( i = 0; i < parts.length; i++ ) {
				result.push( parts[ i ].charAt( 0 ).toUpperCase() + parts[ i ].slice( 1 ) );
			}

			return result.join( '-' );
		}

		function WebPS_Page_BackToTop() {
			$('html, body').animate({
					scrollTop: $( ".container" ).offset().top
				}, 320 );
		}

		function WebPS_Backup_SaveAllData() {
			if( typeof( localStorage ) !== "undefined" ) {
				if( $( '.desturl' ).val() )
					localStorage.setItem( "webps_apirm_psw_dest", $( '.desturl' ).val() );
				//alert( localStorage.getItem( "webps_apirm_psw_dest" ) );
				localStorage.setItem( "webps_apirm_psw_data", ( getPlainRAW() == '=undefined' ? '' : getPlainRAW() ) );
			}
		}

		setInterval( function() { WebPS_Backup_SaveAllData(); }, 1500 );

		function WebPS_Backup_RestoreAllData() {
			//alert( localStorage.getItem( "webps_apirm_psw_dest" ) );
			$( '.desturl' ).val( localStorage.getItem( "webps_apirm_psw_dest" ) );
			if( localStorage.getItem( "webps_apirm_psw_data" ) ) {
				$( '.raw_data' ).val( localStorage.getItem( "webps_apirm_psw_data" ) );
				if( localStorage.getItem( "webps_apirm_psw_rawview" ) != false )
					$( '.converttoparams' ).click();
			}
		}

		function WebPS_Backup_CheckDataAvailable() {
			WebPS_Backup_RestoreAllData();
		}

		$( document ).ready( function() { WebPS_Backup_CheckDataAvailable(); } );

		$( '.selectpicker_method' ).selectpicker();
	</script>